.MuiDataGrid-cell--textLeft{
    border-right: 1px solid rgba(224, 224, 224, 1);
}

.alert-big {
    background-color: green;
}

.alert-cheap {
    background-color: red;
}

.alert-solid {
    background-color: orange;
}